{% extends "base.html.twig" %}

{% block body %}
	<main class="container">
		<h1>Rédiger un article</h1>
		{{form_start(form)}}
		{{form_row(form.title)}}
		{{form_row(form.image)}}
		{{form_row(form.content)}}
		<input type="submit" value="Publier">
		{{form_end(form)}}
	</main>
{% endblock %}
