{% extends "base.html.twig" %}

{% block body %}
	<main class="container">
		<div
			class="card" style="width: 18rem;">
			{# <img src="{{post.image}}" class="card-img-top" alt="..."> #}
			<div class="card-body">
				<h5 class="card-title">{{post.title}}</h5>
				<p class="card-text">{{post.content}}</p>
				<a href="post/read/{{post.id}}" class="btn btn-primary">Lire</a>
				<a href="post/edit/{{post.id}}" class="btn btn-warning">Modifier</a>
				<a href="post/delete/{{post.id}}" class="btn btn-danger">Supprimer</a>
			</div>
			<div class="card-footer text-body-secondary">
				{{post.publishedAt | date("d/m/Y H:i")}}
			</div>
		</div>
	</main>
{% endblock %}
